td.oe_product form{
    border: 4px solid #002749 !important;
}

.js_sale{
    background-color: white;
}
#wrapwrap{
    background-color: white !important;
}

@media screen and (min-width: 1200px){
    .s_center_tittle > .container{
        width:1126px;
    }
    .s_center_tittle{
        padding-left: 22px;
    }
}

.s_center_tittle > .container{
    background-color: #002749;
}

.s_center_tittle h1{
    font-family: Oswald;
    color: white;
}

.website_cmnt_theme h1,
.website_cmnt_theme h2,
.website_cmnt_theme h3,
.website_cmnt_theme h4,
.website_cmnt_theme h5,
.listing-item-body .title a{
    font-family: Oswald !important;
    color: #002749 !important;
}

.website_cmnt_theme p{
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #002749 !important;
}

.website_cmnt_theme .nrml_text{
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #002749 !important;
}

.eq-height .col div{
    border: 4px solid #002749 !important;
    padding: 7px; 
}

.eq-height{
    margin-top: 20px !important;
}

.footer{
    border-bottom: 1px solid #002749 !important;
}

.fa-heart-o{
    color: red !important;
}

.footer, .subfooter{
    background-color: #cedcbb !important;
}

.cmnt-social-links{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.cmnt-social-links li{
    margin-right: 7px;
    float: left;
}

.subfooter{
    padding-top: 0px !important;
}

.bottom_right{
    position: absolute;
    right: 0;
    bottom: 0;
}

.bottom_right_div{
    min-height: 30px !important;
}

.masonry-grid-item.product-item .listing-item .overlay-container{
    max-height: none !important;
}

b.price span{
    font-weight: bold;
    color:  #002749;
}

.listing-item-body .title a{
    font-size: 20px;
    font-weight: 900 !important;
}

#product-images{
	border: 4px solid #002749 !important;
}

#product-images img{
	display: block;
	margin: 0 auto 0 auto; 
}

